// @import "@styles/variables";

.LoginForm {
  border: 1px solid var(--border);
  padding: 15px;
  display: block;
  max-width: 250px;
  margin: 0 auto;
  border-radius: 15px;
  background: var(--main);
  &__title {
    font-size: 24px;
    margin: 0 0 10px;
  }
  label {
    display: block;
  }
  input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
}
