.Login {
  &__wrapper {
    max-width: 250px;
  }
  &__heading {
    margin-bottom: -7px;
  }
  &__form {
    border: 1px solid var(--border-color);
    padding: 15px;
  }
  &__label {
    display: block;
    margin-bottom: 2px;
  }
  &__input {
    margin-bottom: 15px;
    width: 100%;
  }
  &__button {
    display: block;
  }
}
