.Header {
  &__wrapper {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 15px;
    padding: 5px 0;
  }
  &__inner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__heading {
    margin: 0;
  }
  &__nav {
    display: flex;
  }
  &__anchor {
    margin-right: 10px;
    color: inherit;
    text-decoration: none;
    background-color: gold;
    padding: 5px 10px 3px;
    border-radius: 5px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
